@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none
}

body {
    background-color: #000;
    font-family: Trebuchet MS, Helvetica;
    color: #fff;
}

.container {
    display: grid;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez one', serif;
}

#menu {
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}

#menu a {
    color: blue;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

#menu a:visited {
    color: blue;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px auto;
}


/* CSS FOR SECTIONS */

#home, #gallery, #contacts, #product, #donate {
    margin: 2.5em 2.5em;
}
